{% extends 'adminapp/base.html' %}
{% block title %}Login{% endblock %}
{% block form %}
    <p class="login-box-msg">
        <br>
        <b>Iniciar sesión</b>
    </p>

    <form method="post" enctype="multipart/form-data" accept-charset="UTF-8">
        {% csrf_token %}
        <div class="form-group" data-validate="Usuario requerido">
            {% if form.username.errors %}
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    {{ form.username.errors }}</div>{% endif %}
            <label class="control-label" for="id_username">Correo</label>
            <input type="text" name="username" title="" required="" id="id_username" maxlength="254" autofocus=""
                   placeholder="Escriba su correo" class="form-control">
        </div>
        <div class="form-group" data-validate="Contraseña requerido">
            {% if form.password.errors %}
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    {{ form.password.errors }}</div>{% endif %}
            <label class="control-label" for="id_password">Contraseña</label>
            <input type="password" name="password" title="" required="" id="id_password"
                   placeholder="Escriba su Contraseña" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary btn-block btn-flat">Entrar</button>
    </form>
    <br>
    <a href="{% url 'administracion:registro' %}">Registrarme </a><br>
    <div class="modal modal-danger fade in" id="modal-danger" style="padding-right: 16px;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span>Error</span>
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Verifique su usario y/o contraseña</h4>
                </div>
                <div class="modal-body">
                    <p>{{ form.non_field_errors }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btn-okay" class="btn btn-outline" data-dismiss="modal">Okay</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>
{% endblock %}
