{% extends 'mvcapp/base.html' %}
{% load humanize %}
{% load static %}
{% block titulo %}Detalle de la Orden #{{orden.pk}} {% endblock %}
{% block navegacion %}Detalle de la Orden #{{orden.pk}} {% endblock %}
{% block style %} 
<style>
    /* Calculator CSS styles */

    p {
        word-wrap: break-word;
    }

    #paymentModal.modal {
        z-index: 9999; /* Set a high z-index value to ensure the paymentModal appears above other content */
    }

    #paymentModal .modal-dialog {
        width: 90%; /* Set the modal width to 70% of the screen */
        max-width: 100%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* Add this style to hide the backdrop when the modal is not active */
    #paymentModal.modal:not(.show) {
        display: none;
    }
    .calculator {
      width: 100%;
      margin: 0 auto;
    }
  
    .display {
      padding: 10px;
      background-color: #f5f5f5;
      text-align: right;
    }
  
    .display input {
      width: 80%;
      border: none;
      font-size: 24px;
      text-align: right;
    }
  
    .buttons {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
      margin-top: 10px;
    }
  
    .buttons .btn {
      padding: 10px;
      border: none;
      cursor: pointer;
    }

    .btn-calculadora {
        background-color: gainsboro;
    }
    .result {
        margin-top: 10px;
    }

    .result p {
        font-size: 28px;
        text-align: right;
    }
    .result em{
        font-size: 18px;
    }
</style>
{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-9 d-flex align-items-stretch flex-column">
            {% if orden.pagado == False %}    
                <div class="row">
                    <div class="col-12 col-md-12 d-flex align-items-stretch flex-column">
                        <div class="card bg-light d-flex flex-fill">
                            <div class="card-header text-muted border-bottom-0">
                                <span>Busqueda directa de productos. (Utiliza numeros y '*' para multiplicar la cantidad de productos a agregrar. ej 2*)</span>
                            </div>
                            <div class="card-footer"> 
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-9">
                                            <input class="form-control" type="text" id="q" name="q" required
                                            placeholder="Busqueda exacta por clave, codigo de barra o nombre de productos">
                                                <br>
                                        </div>
                                        <div class="col-md-3">
                                            <button type="submit" class="btn btn-primary form-control">
                                                <i class="fas fa-search"></i> Buscar
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>    
                        </div>
                    </div>
                </div>
            {% endif %}    
    {% if productos %}
        <div class="row">
            <div class="invoice col-md-12" style="border-radius: 2%">
                <!-- title row -->
                <div class="row">
                    <div class="col-sm-12">
                        {% if pago %}
                            <p>
                                <b>Pago en linea:</b> collection_id{{ pago }}
                            </p>
                        {% endif %}
                    </div>
                    <div class="col-sm-6">
                        <h3>
                            {% if not comentarios.isspace %}
                                <p>
                                    Comentarios: {{ comentarios }}
                                </p>
                            {% endif %}
                        </h3>
                    </div>
                    <div class="col-sm-6">
                        <h3>
                            <p>
                                {{ orden.place.description }} - {{ orden.place.direction }}
                            </p>
                            <p>
                                {% if orden.customer %}
                                    Cliente: {{ orden.customer.name }} {{ orden.customer.direction }}
                                    {{ orden.customer.cellphone }}
                                {% endif %}
                            </p>
                        </h3>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- Table row --><br>
                <div class="row">
                    <div class="col-12 table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Observaciones</th>
                                <th>Precio</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for producto in productos %}
                                <tr>
                                    <td>
                                        <img alt="{{ producto.description }}" src="{{ producto.image }}"
                                             style="width: 64px; height: 64px;"
                                             class="img-fluid mb-2">
                                    </td>
                                    <td>{{ producto.name }}</td>
                                    <td>{{ producto.quantity }}</td>
                                    <td style="white-space: pre-wrap;">{{ producto.observaciones }}</td>
                                    <td><small>$</small>{{ producto.price|floatformat:2|intcomma }}</td>
                                    <td><small>$</small>{{ producto.total|floatformat:2|intcomma }}</td>
                                    <td>
                                        <form method="post" action="{% url 'mainapp:eliminar_del_carrito_view' producto.pk %}">
                                            {% csrf_token %}
                                            {% if orden.cobrado == False %}
                                                <button type="submit" rel="tooltip" data-placement="left"
                                                        title="Quitar producto"
                                                        class="btn btn-simple">
                                                    <i class="fas fa-eraser"></i>
                                                </button>
                                            {% endif %}
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.col -->
                </div>
            </div>
        </div>
        <br>
        <section class="content">
            <div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="close" id="paymentModalLabel">Total a Pagar: $ {{ total|floatformat:2|intcomma }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                        <!-- Calculator HTML -->
                            <div class="calculator">
                                <!-- Calculator Display -->
                                <div class="display">
                                <input type="number" id="paymentAmount" oninput="calculateChange()" value="0" placeholder="Ingresa el monto recibido" />
                                <button class="btn" onclick="clearInput('paymentAmount')" id="btn-pay-clear"><i class="fas fa-eraser"></i></button>
                                </div>
                                <!-- Calculator Buttons -->
                                <div class="buttons">
                                    <button class="btn btn-secondary calculadora" onclick="appendValue(1)" id="btn-pay-1">$1.00</button>
                                    <button class="btn btn-secondary calculadora" onclick="appendValue(2)" id="btn-pay-2">$2.00</button>
                                    <button class="btn btn-secondary calculadora" onclick="appendValue(5)" id="btn-pay-3">$5.00</button>
                                    <button class="btn btn-secondary calculadora" onclick="appendValue(10)" id="btn-pay-4">$10.00</button>
                                    <button class="btn btn-secondary calculadora" onclick="appendValue(20)" id="btn-pay-5">$20.00</button>
                                    <button class="btn btn-secondary calculadora" onclick="appendValue(50)" id="btn-pay-6">$50.00</button>
                                    <button class="btn btn-secondary calculadora" onclick="appendValue(100)" id="btn-pay-7">$100.00</button>
                                    <button class="btn btn-secondary calculadora" onclick="appendValue(200)" id="btn-pay-8">$200.00</button>
                                    <button class="btn btn-secondary calculadora" onclick="appendValue(500)" id="btn-pay-9">$500.00</button>
                                    <button class="btn btn-secondary calculadora" onclick="appendValue(1000)" id="btn-pay-0">$1,000.00</button>
                                    <button class="btn btn-info" onclick="cambioDeMoneda()" id="btn-pay-change">Numerico</button>
                                    <!-- Add other numeric buttons -->
                                    <!-- ... -->
                                    
                                    <button type="button" name="submit3" class="btn btn-success" disabled id="btn-pago-2"
                                                    onclick="handleButtonClick('submit3')">Pagar Orden</button>
                                    <!-- Calculator Result -->
                                </div>  
                                <div class="result">
                                    <p>
                                        <strong>Cambio: $<span id="changeAmount">0.00</span></strong>
                                        <br>
                                        <em class="warning-message">Por favor, asegúrate de contar el efectivo correctamente antes de entregarlo.</em>
                                    </p>
                                </div>                                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% else %}
        <div class="row">
            <div class="col-12 col-md-12 d-flex align-items-stretch flex-column">
                <div class="card bg-light d-flex flex-fill">
                    <div class="card-header text-muted border-bottom-0">
                        <span>No hay productos o servicios agregados al carrito.</span>
                        <a href="{% url 'mainapp:categorias' %}" class="btn btn-primary btn-round">
                            Buscar por categorias.
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

</div>
<div class="col-sm-12 col-md-3 d-flex align-items-stretch flex-column">
    <div class="invoice col-md-12" style="border-radius: 2%">
        <!-- title row -->
        <div class="col-sm-12"><br>
            <h2 align="center"> Total: $ 
                {% if total %}
                    {{ total|floatformat:2|intcomma }}
                {% else %}
                     0.00
                {% endif %}
            </h2>
        </div>
        <br>
        <div class="row">
            {% if orden.pagado == False %}
                {% for group in  request.user.groups.all %}
                    {% if 'MESERO' == group.name or 'ADMINISTRADOR' == group.name or 'CAJERO' == group.name or 'VENDEDOR' == group.name or 'ENCARGADO' == group.name or 'ASISTENTE' == group.name %}
                        <div class="col-sm-12">
                            <div class="form-group">
                                <form method="post" action="{% url 'mainapp:categorias' %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary form-control" style="width:100%">
                                        <i class="fas fa-plus"></i> Agregar otro producto
                                    </button>
                                </form>
                            </div>
                        </div>
                    {% endif %}
                    {% if 'CAJERO' == group.name or 'ADMINISTRADOR' == group.name or 'VENDEDOR' == group.name and orden.pagado == False and productos %}
                        <div class="col-sm-12">
                            <div class="form-group">
                                <form method="post" action="{% url 'mainapp:cobrar' %}" id="cobrarForm">
                                    {% csrf_token %}
                                    <button type="button" class="btn btn-success form-control" id="btn-submit-3"
                                            data-toggle="modal" data-target="#paymentModal" onclick="pagoButton('paymentAmount')">
                                            <i class="fas fa-cash-register"></i>  Cobrar
                                    </button>
                                </form>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if productos %}
                {% for group in  request.user.groups.all %}
                    {% if 'COCINERO' == group.name or 'EMPACADOR' == group.name or 'ADMINISTRADOR' == group.name and orden.cocinado == False or 'ENCARGADO' == group.name or 'ASISTENTE' == group.name %}
                        <div class="col-sm-12">
                            <div class="form-group">
                                <form method="post" action="{% url 'mainapp:orden_lista_para_entrega' orden.pk %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary form-control" style="width:100%">
                                        <i class="fas fa-check-double"></i> Orden lista para entrega
                                    </button>
                                </form>
                            </div>    
                        </div>
                    {% endif %}
                    {% if 'REPARTIDOR' == group.name or 'MOSTRADOR' == group.name or 'ADMINISTRADOR' == group.name and orden.entregado == False or 'ENCARGADO' == group.name or 'ASISTENTE' == group.name %}
                        <div class="col-sm-12">
                            <div class="form-group">
                                <form method="post" action="{% url 'mainapp:orden_entregada' orden.pk %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary form-control" style="width:100%">
                                        <i class="fas fa-shipping-fast"></i> Orden entregada
                                    </button>
                                </form>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="col-md-12">
                    <div class="form-group">
                        <a href="{% url 'mainapp:recibo' orden.pk %}" id="imprimirReciboId" target="_blank">
                            <button type="button" class="btn btn-success form-control">
                                <i class="fas fa-print"></i> Imprimir Orden
                            </button>
                        </a>
                    </div>
                </div>
            {% endif %}    
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block script %}
    <script>
        function goBack() {
            window.history.back();
        }
        function clearInput(inputId){
            inputToClear = document.getElementById(inputId);
            inputToClear.value = 0;
            calculateChange()
        }
    </script>
    <script>
        function pagoButton(inputId) {
            document.getElementById(inputId).focus();
        }
    </script>
    <script>
        // Array to hold the original values and texts of the buttons
        const originalButtonValues = [
          { id: 'btn-pay-1', value: 1, text: '$1.00' },
          { id: 'btn-pay-2', value: 2, text: '$2.00' },
          { id: 'btn-pay-3', value: 5, text: '$5.00' },
          { id: 'btn-pay-4', value: 10, text: '$10.00' },
          { id: 'btn-pay-5', value: 20, text: '$20.00' },
          { id: 'btn-pay-6', value: 50, text: '$50.00' },
          { id: 'btn-pay-7', value: 100, text: '$100.00' },
          { id: 'btn-pay-8', value: 200, text: '$200.00' },
          { id: 'btn-pay-9', value: 500, text: '$500.00' },
          { id: 'btn-pay-0', value: 1000, text: '$1,000.00' },
          // Add the rest of the buttons with their respective values and texts
        ];
      
        let isCurrencyMode = false;
      
        // Method to change the button values and texts
        function cambioDeMoneda() {
          const changeButton = document.getElementById("btn-pay-change");
      
          if (isCurrencyMode) {
            // Restore the original values and texts of the buttons
            for (const buttonData of originalButtonValues) {
              const buttonElement = document.getElementById(buttonData.id);
              buttonElement.setAttribute("onclick", `appendValue(${buttonData.value})`);
              buttonElement.innerText = buttonData.text;
            }
            changeButton.innerText = "Numerico";
          } else {
            // Set new values and texts for the buttons
            const currencyValues = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9];
            for (let i = 0; i < currencyValues.length; i++) {
              const buttonElement = document.getElementById(`btn-pay-${i}`);
              buttonElement.setAttribute("onclick", `appendValue(${currencyValues[i]})`);
              buttonElement.innerText = currencyValues[i];
            }
            changeButton.innerText = "Efectivo";
          }
      
          // Toggle the mode flag
          isCurrencyMode = !isCurrencyMode;
        }
    </script>
    <script>
        // Handle appending values to the calculator display
        function appendValue(value) {
          const paymentAmount = document.getElementById("paymentAmount");
          if (document.getElementById("btn-pay-change").innerText === "Efectivo"){
            paymentAmount.value += value;
          }
          else{
            paymentAmount.value = parseFloat(paymentAmount.value) + parseFloat(value);
          }
          calculateChange()
        }
        function formatNumberWithCommas(number) {
            return number.toLocaleString(undefined, {
                minimumFractionDigits: 2,
                maximumFractionDigits: 2,
            });
        }
        // Handle calculating the change
        function calculateChange() {
          const totalAmount = {{ total|floatformat:2 }};
          const paymentAmount = parseFloat(document.getElementById("paymentAmount").value);
          const changeAmount = paymentAmount - totalAmount;
          document.getElementById("changeAmount").innerText = formatNumberWithCommas(changeAmount);
          if(changeAmount < 0 ){
            document.getElementById("btn-pago-2").disabled = true;
          }
          else{
            document.getElementById("btn-pago-2").disabled = false;
          }
        }
    </script>
    <script>
        function handleButtonClick(buttonName) {
            if (buttonName === 'submit3') {
                document.getElementById('cobrarForm').submit();
            }
        }
    </script>

{% endblock %}