{% extends 'mvcapp/base.html' %}
{% load static %}
{% load humanize %}
{% block titulo %}Mis Ordenes{% endblock %}
{% block navegacion %}Mis Ordenes{% endblock %}
{% block main %}
    <div class="container-fluid">
        <!-- Info boxes -->
        <div class="row">
            {% for orden in ordenes %}
                <div class="col-12">
                    <a href="{% url 'mainapp:orden' orden.pk %}">
                        <div class="info-box">
                            <span class="info-box-icon bg-info elevation-1">#{{ orden.pk }}</span>
                            <div class="info-box-content">
                                <span class="info-box-text">
                                    Detalle de la Orden
                                    {% if orden.comments %}
                                        - comentarios: {{ orden.comments }}
                                    {% endif %}
                                    {% if orden.customer %}
                                        - {{ orden.customer.name }}
                                    {% endif %}
                                    {% if orden.order_type %}
                                        - {{ orden.order_type.description }}
                                    {% endif %}
                                    - {{ orden.status.description }}
                                    {% if orden.pagado %}
                                        |Pagado|
                                    {% else %}
                                        |Pendiente de pago|
                                    {% endif %}
                                    {% if orden.cocinado == False %}
                                        |Pendiente en cocina|
                                    {% endif %}
                                    {% if orden.entregado %}
                                        |Entregado|
                                    {% else %}
                                        |Pendiente de entrega|
                                    {% endif %}
                                        <!-- /.info-box -->
                                </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <!-- /.row -->

        <!-- /.row -->
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript">
        function autoRefreshPage() {
            window.location = window.location.href;
        }

        $(function () {
            setInterval('autoRefreshPage()', 10000);
        });
    </script>
{% endblock %}
