{% extends 'mvcapp/base.html' %}

{% block titulo %}Clientes{% endblock %}
{% load humanize %}
{% block navegacion %}Clientes{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12">
            <div class="card card-default collapsed-card">
                <div class="card-header">
                    <h3 class="card-title">Seleccionar rango de fechas</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <form method="get" enctype="multipart/form-data" accept-charset="UTF-8">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="date1">Fecha inicial</label>
                                <input type="date" class="form-control" id="date1" name="date1" value="{{ request.GET.date1 }}">
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="date2">Fecha final</label>
                                <input type="date" class="form-control" id="date2" name="date2" value="{{ request.GET.date2 }}">
                            </div>
                        </div>
                        <div class="form-group" align="right">
                            <button type="submit" class="btn btn-primary">Filtrar</button>
                        </div>
                    </form>                    

                </div>
                <!-- /.card-body -->

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <!--
                <div class="card-header">
                    <a class="btn btn-primary btn-round" href="{% url 'mainapp:crear_usuario' %}">Agregar
                        nuevo Clientes</a>
                </div>

                 /.card-header -->
                <div class="card-body">
                    <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="example1" class="table table-bordered table-striped dataTable dtr-inline"
                                       role="grid" aria-describedby="example1_info">
                                    <thead>
                                    <tr role="row">
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                                            colspan="1">
                                            Nombre
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                                            colspan="1">
                                            Correo
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                                            colspan="1">
                                            Celular
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for cliente in clientes %}
                                        <tr class="odd">
                                            <td class="dtr-control sorting_1">{{ cliente.name }}</td>
                                            <td class="dtr-control sorting_1">{{ cliente.email }}</td>
                                            <td class="dtr-control sorting_1">
                                                {{ cliente.cellphone }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
        // Obtener los valores de los parámetros de consulta
        const urlParams = new URLSearchParams(window.location.search);
        const date1 = urlParams.get('date1');
        const date2 = urlParams.get('date2');

        // Obtener los elementos de los campos de fecha
        const date1Input = document.getElementById('date1');
        const date2Input = document.getElementById('date2');

        // Establecer el valor predeterminado de los campos de fecha
        if (date1) {
            date1Input.value = date1;
        }
        if (date2) {
            date2Input.value = date2;
        }
        
        if (!date1) {
            const today = new Date().toISOString().split('T')[0];
            date1Input.value = today;
        }
        if (!date2) {
            const today = new Date().toISOString().split('T')[0];
            date2Input.value = today;
        }
        });
    </script>
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "print",]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
{% endblock %}
