{% extends 'mvcapp/base.html' %}
{% load humanize %}
{% load static %}
{% block titulo %}Productos{% endblock %}
{% block navegacion %}Productos{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            {% if productos %}
                {% for producto in productos %}
                    <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                        <div class="card bg-light d-flex flex-fill">
                            <div class="card-header text-muted border-bottom-0">

                            </div>
                            <div class="card-body pt-0">
                                <div class="row">
                                    <div class="col-7">
                                        <h4><b>{{ producto.name }}</b></h4>
                                        <h2><b>$ {{ producto.price |floatformat:2|intcomma }}</b></h2>
                                        {{ producto.description }}
                                    </div>
                                    <div class="col-5 text-center">
                                        <img alt="{{ producto.description }}" 
                                        {% if producto.image %}
                                            src="{{ producto.image.url }}"
                                        {% endif %}
                                             style="width: 128px; height: 128px;"
                                             class="img-fluid mb-2">
                                    </div>
                                </div>
                            </div>
                            {% for group in request.user.groups.all %}
                                {% if 'ADMINISTRADOR' == group.name or 'CAJERO' == group.name or 'VENDEDOR' == group.name or 'ENCARGADO' == group.name or 'ASISTENTE' == group.name %}
                                <div class="card-footer">
                                    
                                        <form action="{% url 'mainapp:productos' producto.category_id %}" method="post">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="text" name="id_product" value="{{ producto.id }}"
                                                    hidden>
                                                </div>
                                                <div class="col-md-12">
                                                    <label for="observaciones">Observación sobre este pedido</label>
                                                    <textarea class="form-control" rows="2" name="observaciones"
                                                                id="observaciones-{{ producto.id }}"
                                                                placeholder="Escriba algun comentario sobre este producto"
                                                                required></textarea>
                                                </div>
                                                <div class="col-md-12">
                                                    <label for="cantidad">Cantidad</label>
                                                    <input class="form-control" type="number" id="cantidad" oninput="validateInput(this)"
                                                    min="0" max="{{ producto.stock }}" step="1" name="cantidad" value="1">
                                                        <br>
                                                </div>
                                                {% if producto.stock < 1 %}
                                                    <div class="col-md-12">
                                                        <div class="alert alert-danger alert-dismissible">
                                                            <h5><i class="icon fas fa-ban"></i> ¡Agotado!</h5>
                                                            Reabastece el stock. Actúa rápido. ¡Gracias por tu colaboración!
                                                            </div>
                                                    </div>
                                                {% else %}
                                                    <div class="col-md-6" id="addDivbutton-{{ producto.id }}">
                                                        <button type="submit" class="btn btn-primary form-control">
                                                            <i class="fas fa-plus"></i> Añadir a la orden
                                                        </button>
                                                    </div>
                                                    <div class="col-md-6" id="addDivbuttonObser-{{ producto.id }}">
                                                        <button type="button" class="btn btn-success form-control" 
                                                        onclick="autofillObservations('{{ producto.id }}')">
                                                            <i class="fas fa-laugh-beam"></i> Sin Observaciones
                                                        </button>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </form>
                                    
                                    
                                </div>
                                {% endif %}
                            {% endfor %}
                    
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-12 col-sm-6 col-md-6 d-flex align-items-stretch flex-column">
                    <span>No existen productos registrados con esa categoria.</span>
                    <a href="{% url 'mainapp:categorias' %}" class="btn btn-primary btn-round">regresar al
                        menu anterior.
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        function goBack() {
            window.history.back();
        }
        function autofillObservations(observacionesId) {
            const observationsField = document.getElementById('observaciones-'+observacionesId);
            observationsField.value = 'Sin observaciones sobre este detalle de producto.';
            observationsField.disabled = true;
            observationsField.removeAttribute('required');
            console.log('addDivbutton-'+observacionesId);
            const addDivbutton = document.getElementById('addDivbutton-'+observacionesId);
            const addDivbuttonObser = document.getElementById('addDivbuttonObser-'+observacionesId);
            addDivbuttonObser.hidden = true;
            addDivbutton.classList.remove('col-md-12');
            addDivbutton.classList.add('col-md-12');
        }
    </script>
    <script>
        function validateInput(inputElement) {
            const max = parseFloat(inputElement.getAttribute('max'));
            if (inputElement.value > max) {
                inputElement.value = max;
            }
        }
    </script>
{% endblock %}

