{% extends 'mvcapp/base.html' %}
{% load static %}
{% load humanize %}
{% block titulo %}Dashboard{% endblock %}
{% block navegacion %}Dashboard{% endblock %}
{% block loader %}<!-- Preloader -->
    <div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__wobble" src="{% static 'template/dist/img/AdminLTELogo.png' %}" alt="PoSLogo" height="60" width="60">
    </div>
{% endblock %}
{% block main %}
    <div class="container-fluid">
        <!-- Info boxes -->
        {% for group in  request.user.groups.all %}
            {% if 'ADMINISTRADOR' == group.name or 'ENCARGADO' == group.name or 'ASISTENTE' == group.name %}
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12">
                        <div class="card card-default collapsed-card">
                            <div class="card-header">
                                <h3 class="card-title">Seleccionar rango de fechas</h3>

                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-plus"></i>
                                    </button>

                                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <form method="post" enctype="multipart/form-data" accept-charset="UTF-8">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label for="date1">Fecha inicial</label>
                                            <input type="date" class="form-control" id="date1" name="date1">
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="date2">Fecha final</label>
                                            <input type="date" class="form-control" id="date2" name="date2">
                                        </div>
                                    </div>
                                    <div class="form-group" align="right">
                                        <button type="submit" class="btn btn-primary">Filtrar</button>
                                    </div>
                                </form>

                            </div>
                            <!-- /.card-body -->

                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="info-box">
                            <span class="info-box-icon bg-info elevation-1"><i class="fas fa-shopping-cart"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Ventas</span>
                                <span class="info-box-number">$ {{ ventas_del_dia|floatformat:2|intcomma }}</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="info-box mb-3">
                            <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-thumbs-up"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Ordenes pendientes</span>
                                <span class="info-box-number">
                            <span class="info-box-number">{{ ordenes_pendientes|floatformat:0|intcomma }}</span>
                        </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->

                    <!-- fix for small devices only -->
                    <div class="clearfix hidden-md-up"></div>

                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="info-box mb-3">
                            <span class="info-box-icon bg-success elevation-1"><i
                                    class="fas fa-shopping-cart"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Ordenes pagadas</span>
                                <span class="info-box-number">{{ ordenes_vendidas|floatformat:0|intcomma }}</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="info-box mb-3">
                            <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Nuevos clientes</span>
                                <span class="info-box-number">{{ clientes_nuevos|floatformat:0|intcomma }}</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            {% endif %}
        {% endfor %}
        
            <div class="row">
            {% for group in request.user.groups.all %}
                {% if 'ADMINISTRADOR' == group.name or 'CAJERO' == group.name or 'VENDEDOR' == group.name or 'ENCARGADO' == group.name or 'ASISTENTE' == group.name %}
                    <div class="col-12 col-sm-6 col-md-4">
                        <a href="{% url "mainapp:crear_nueva_orden" %}">
                            <div class="info-box mb-3">
                                <span class="info-box-icon bg-info elevation-1"><i class="fas fa-plus-square "></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Nueva Orden</span>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                        </a>
                        <!-- /.info-box -->
                    </div>
                {% endif %}
            {% endfor %}
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-4">
                <a href="{% url "mainapp:categorias" %}">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-list-alt "></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Categorias</span>
                            <span class="info-box-number">
                        </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </a>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->

            <!-- fix for small devices only -->
            <div class="clearfix hidden-md-up"></div>

            <div class="col-12 col-sm-6 col-md-4">
                <a href="{% url "mainapp:mis_ordenes" %}">
                    <div class="info-box mb-3">
                            <span class="info-box-icon bg-success elevation-1"><i
                                    class="fas fa-th"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Mis Ordenes</span>

                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </a>
                <!-- /.info-box -->
            </div>
            <div class="col-12 col-sm-12 col-md-12">
                <a href="/app/{{nombre_para_pagos}}">
                    <div class="info-box mb-3">
                            <span class="info-box-icon bg-success elevation-1"><i
                                    class="fas fa-shopping-basket"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Acceso a mis clientes. Click aquí</span>

                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </a>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            </div>
        {% for group in  request.user.groups.all %}
            {% if 'ADMINISTRADOR' == group.name or 'ENCARGADO' == group.name or 'ASISTENTE' == group.name or 'ALMACENISTA' == group.name %}
                <div class="row">
                    {% if ingredientes == 0 %}
                        <div class="col-lg-3 col-md-6">
                            <div class="small-box bg-danger">
                                <div class="inner">
                                    <h3>Insumos</h3>
                                    <p>Registra todos los insumos necesarios.</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-bag"></i>
                                </div>
                                <a href="{% url 'mainapp:listar_ingredientes_view' %}" class="small-box-footer">Ir a configurar <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    {% elif ingredientes.count > 0 %}
                        <div class="col-lg-6 col-md-6">
                            <div class="small-box">
                                <div class="inner">
                                    <h3>Insumos</h3>
                                    <p>Parece que es momento de ir a ver el inventario.</p>
                                </div>
                                <table id="example1" class="table table-bordered table-striped dataTable dtr-inline"
                                       role="grid" aria-describedby="example1_info">
                                    <thead>
                                    <tr role="row">
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                                            colspan="1">
                                            Insumo
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                                            colspan="1">
                                            Cantidad en stock
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for ingrediente in ingredientes %}
                                        <tr class="odd">
                                            <td class="dtr-control sorting_1">
                                                <a href="{% url 'mainapp:modificar_ingredient_view' ingrediente.pk %}">{{ ingrediente.name }}</a></td>
                                            <td class="dtr-control sorting_1">
                                                {{ ingrediente.quantity }} {{ ingrediente.quantity_type.description }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    {% endif %}
                    {% if productos == 0 %}
                        <div class="col-lg-3 col-md-6">
                            <div class="small-box bg-danger">
                                <div class="inner">
                                    <h3>Productos</h3>
                                    <p>Registra todos los productos necesarios.</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-bag"></i>
                                </div>
                                <a href="{% url 'mainapp:listar_productos_view' %}" class="small-box-footer">Ir a ver el stock <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    {% elif productos.count > 0 %}
                        <div class="col-lg-6 col-md-6">
                            <div class="small-box">
                                <div class="inner">
                                    <h3>Productos</h3>
                                    <p>Parece que es momento de ir a ver el inventario.</p>
                                </div>
                                <table id="example2" class="table table-bordered table-striped dataTable dtr-inline"
                                    role="grid" aria-describedby="example1_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1">
                                            Codigo del producto
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1">
                                            Nombre
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1">
                                            Cantidad en Stock
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for producto in productos %}
                                    <tr class="odd">
                                        <td class="dtr-control sorting_1"><a href="{% url 'mainapp:modificar_producto_view' producto.pk %}">{{ producto.product_code }}</a></td>
                                        <td class="dtr-control sorting_1">{{ producto.name }}</td>
                                        <td class="dtr-control sorting_1">{{ producto.stock }}</td>
                                    </tr>
                                {% endfor %}
                                </tfoot>
                            </table>
                            </div>
                        </div>
                    {% endif %}
                    {% if categorias == 0 %}
                        <div class="col-lg-3 col-md-6">
                            <div class="small-box bg-danger">
                                <div class="inner">
                                    <h3>Categorias</h3>
                                    <p>¡Registra una categoria ahora!</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-bag"></i>
                                </div>
                                <a href="{% url 'mainapp:listar_categorias_view' %}" class="small-box-footer">Ir a configurar <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    {% endif %}
                    {% if places == 0 %}
                        <div class="col-lg-3 col-md-6">
                            <div class="small-box bg-danger">
                                <div class="inner">
                                    <h3>Sucursales</h3>
                                    <p>¡Registra tus sucursales ahora!</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-bag"></i>
                                </div>
                                <a href="{% url 'mainapp:listar_lugares_view' %}" class="small-box-footer">Ir a configurar <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    {% endif %}
                    {% if quantity_types == 0 %}
                        <div class="col-lg-3 col-md-6">
                            <div class="small-box bg-danger">
                                <div class="inner">
                                    <h3>Unidades de medida</h3>
                                    <p>¡Personaliza tus unidades de medida ahora!</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-bag"></i>
                                </div>
                                <a href="{% url 'mainapp:listar_tipos_de_cantidades_view' %}" class="small-box-footer">Ir a configurar <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    {% endif %}
                    {% if currencys == 0 %}
                        <div class="col-lg-3 col-md-6">
                            <div class="small-box bg-danger">
                                <div class="inner">
                                    <h3>Monedas</h3>
                                    <p>¡Configura tus monedas ahora!.</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-bag"></i>
                                </div>
                                <a href="{% url 'mainapp:listar_monedas_view' %}" class="small-box-footer">Ir a configurar <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block script %}
    <script>
        $(function () {
            var now = new Date();

            var day = ("0" + now.getDate()).slice(-2);
            var month = ("0" + (now.getMonth() + 1)).slice(-2);

            var today = now.getFullYear() + "-" + (month) + "-" + (day);

            $('#date1').val(today);
            $('#date2').val(today);
        })
    </script>
    <script>
        $(function () {
            $("#example2").DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": false,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
            $('#example1').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": false,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
{% endblock %}
