{% load humanize %}
<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>

<h2>Orden numero: <b>#{{ order.pk }}</b> Total: $ {{ order.amount|floatformat:2|intcomma }}</h2>
<h2>Estado de la orden: <b>{{ order.status.description }}</b></h2>
<table>
    <tr>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Total</th>
    </tr>
    {% for producto in productos %}
        <tr>
            <td>{{ producto.name }}</td>
            <td>{{ producto.quantity }}</td>
            <td>{{ producto.price }}</td>
            <td>{{ producto.total }}</td>
        </tr>
    {% endfor %}
</table>
<br><hr><br>
<h2>Orden numero: <b>#{{ order.pk }}</b> Total: $ {{ order.amount|floatformat:2|intcomma }}</h2>
<h2>Estado de la orden: <b>{{ order.status.description }}</b></h2>
<table>
    <tr>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Total</th>
    </tr>
    {% for producto in productos %}
        <tr>
            <td>{{ producto.name }}</td>
            <td>{{ producto.quantity }}</td>
            <td>{{ producto.price }}</td>
            <td>{{ producto.total }}</td>
        </tr>
    {% endfor %}
</table>

</body>
</html>
