{% extends 'mvcapp/base.html' %}

{% block titulo %}Categorias{% endblock %}
{% load humanize %}
{% block navegacion %}Categorias {% endblock %}

{% block main %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <a class="btn btn-primary btn-round" href="{% url 'mainapp:crear_nueva_categoria_view' %}">Agregar
                        nueva categoria</a>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="example1" class="table table-bordered table-striped dataTable dtr-inline"
                                       role="grid" aria-describedby="example1_info">
                                    <thead>
                                    <tr role="row">
                                        <th>Imagen
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                                            colspan="1" aria-label="Browser: activate to sort column ascending">
                                            Descripción
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for categoria in categorias %}
                                        <tr class="odd">
                                            <td><img src="{{ categoria.image.url }}" alt="{{ categoria.description }}"
                                                     style="width: 64px; height: 64px;"
                                                     class="img-fluid mb-2">
                                            </td>
                                            <td class="dtr-control sorting_1">{{ categoria.description }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "print",]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
{% endblock %}
